.zip-code-check {
  margin-top: 20px;
  /* Add more styles as needed */
}

.zip-code-check label {
  display: block;
  margin-bottom: 0 !important;
  font-weight: bold;
}

.zip-code-check input[type="text"] {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.zip-code-check button {
  padding: 8px 16px;
  border: 1px solid #9c9c9c;
  cursor: pointer;
  border-radius: 3px;
}

.zip-code-check button:hover {
  background-color: #f1f1f1;
}

.zip-code-check #zip_code_result {
  margin-top: 10px;
  font-weight: bold;
}

.zip-code-check .zip-available {
  color: green;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  padding-top: 10px;
  gap: 5px;
}

.zip-code-check .zip-not-available {
  color: red;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  padding-top: 10px;
}

#zip_code_result img {
  width: 25px;
  margin-top: -5px;
}

/* attribute css  */

.height_width {
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}

.product_attribute {
  padding: 20px;
  padding-bottom: 40px;
}

.product_attribute input {
  border-color: #949494;
  outline: none;
  border-radius: 0px;
  border: 1.5px solid gray;
  padding-left: 10px;
}

.mount > div {
  padding: 10px 0px;
}

.inside_outside {
  display: flex;
  gap: 20px;
}
.window {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a.woo-variation-gallery-trigger.woo-variation-gallery-trigger-position-top-right {
  opacity: 0;
}

.pswp__top-bar {
  display: none;
}

a.woo-variation-gallery-trigger.woo-variation-gallery-trigger-position-top-right {
  opacity: 0;
  width: 110%;
  height: 110%;
  top: -2px;
  right: -3px;
  z-index: 9999;
}

img.zoomImg {
  display: none !important;
}

.product_attribute select {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 2px 5px;
}
.product_attribute input {
  border-radius: 5px;
}

.product_attribute input[type="checkbox"] {
  scale: 1.4;
  margin-left: 5px;
}

/* css for bottom video section   */

.video_section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1350px;
}

.video_container {
  text-align: center;
}

.video_container h2 {
  color: black !important;
  font-size: 14px !important;
  margin-bottom: 10px !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  font-weight: 500;
}
.video_container h2:hover {
  color: black !important;
}

.video_box {
  position: relative;
  width: 210px;
  height: 110px;
  border: 2px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}

.video_box:hover {
  scale: 1.1;
}

.video_box .icon {
  position: absolute;
  z-index: 2;
  color: #000;
  scale: 2.8;
  display: flex;
}

.video_box .img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_box .img img {
  scale: 0.7;
}

/* popup  */

.video_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 700px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 22px;
  z-index: 999;
}

.video_popup iframe {
  width: 100%;
  height: 100%;
}

.close_button {
  position: absolute;
  top: 10px;
  right: -45px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}
.close_button:hover {
  transform: rotate(90deg);
  scale: 1.1;
}
.close_button::before,
.close_button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 15px;
  width: 2px;
  height: 100%;
  background-color: #a4a4a4;
}

.close_button::before {
  transform: rotate(45deg);
}

.close_button::after {
  transform: rotate(-45deg);
}
.popup_content {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.woo-variation-gallery-slider.slick-initialized.slick-slider i {
  z-index: 9999;
}

.divider {
  width: 100%;
  height: 1px;
  background: #f1f1f1;
}

@media only screen and (max-width: 767px) {
  .video_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1350px;
    flex-direction: column;
    gap: 30px;
  }
  .close_button {
    position: absolute;
    top: -40px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
  }
}

/* hide section */

.postid-465 .woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}
.postid-465 .woocommerce-breadcrumb {
  display: none;
}

.postid-465 a.add_to_wishlist.single_add_to_wishlist {
  display: none;
}

.postid-465 .mybag-action-buttons {
  display: none !important;
}

.postid-465 div#mybag-wc-product-gallery-66596ca30aeab {
  display: none !important;
}

.postid-465 a.compare.button {
  display: none !important;
}

.woocommerce-variation-price {
  display: block !important;
}

.variations tbody tr:last-child {
  display: none;
}

.single-product div.product .summary form.cart .single_add_to_cart_button {
  float: left !important;
}

/* Cart Page  */

dl.variation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dl.variation dt,
dl.variation dd {
  display: inline-block;
  margin: 0;
  padding: 0;
}

dl.variation dt {
  width: 50%; /* Adjust the width as needed */
  font-weight: bold;
  display: flex;
}

dl.variation dd {
  width: 50%; /* Adjust this to match the dt width */
}

dl.variation dt::after {
  content: ":";
  padding-right: 5px; /* Adjust spacing as needed */
}

dl.variation dt,
dl.variation dd {
  padding: 0px 0; /* Adjust spacing as needed */
}

dl.variation dd p {
  margin: 0; /* Ensure no extra margin from <p> */
  display: flex;
}

dl.variation dd {
  display: flex;
  align-content: center;
}

.cart-collaterals {
  display: flex;
}

.cart-collaterals div {
  margin: 0 !important;
}
.cart-collaterals div:first-child {
  width: 60% !important;
}

.cart-collaterals div:last-child {
  width: 40% !important;
}

.woocommerce-cart .cart-collaterals .wc-proceed-to-checkout {
  display: block !important;
}

.woocommerce-cart .shop_table.cart tbody td.actions > .button {
  width: auto !important;
}

.cart-collaterals {
  padding-top: 50px;
  border-top: 1px solid #80808026;
}

.installation-checkbox {
  display: none;
}

.zip-code-check p:first-child {
  font-size: 22px;
  font-weight: 700;
  padding-top: 15px;
  margin-bottom: 0;
}

.woocommerce-cart .cart-collaterals {
  text-align: left;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  background: #a9a9a91a;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.cart-collaterals .woocommerce-cart-form__contents td {
  border: none;
}

.cart_totals .wc-proceed-to-checkout a {
  display: none !important;
}

.woocommerce-cart .shop_table.cart {
  margin-top: 2.7rem;
}
